<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
</head>
<body>
	<form method= "POST" action="/users">
		<div>
			<input type="text" name="user[firstName]" placeholder="First Name">
		</div>
		<div>
			<input type="text" name="user[lastName]" placeholder="Last Name">
		</div>
		<div>
			<input type="text" name="user[email]" placeholder="Email">
		</div>
		<div>
			<input type="password" name="user[password]" placeholder="Password">
		</div>
		<div>
			<input type="password" name="user[password_confirmation]" placeholder="Password Confirmation">
		</div>
		<button>Sign up</button>
	</form>
</body>
</html>